body {
  background-color: rgb(211, 211, 211);
}

.navigation-bar {
  background-color: rgb(211, 211, 211);
  display: flex;
  margin-top: 30px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #3b2a4e;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  display: flex;
  padding-left: 30px;
  color: #c002b6;
}

.logo :hover {
  cursor: pointer;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.menu ul {
  list-style-type: none;
  margin-left: 650px;
}

li {
  float: right;
  padding-left: 100px;
  padding-top: 2px;
}

li a {
  color: #c002b6;
  font-size: 20px;
}

li :hover {
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.head-title {
  text-align: center;
  margin-top: 50px;
  color: #c002b6;
  text-decoration: underline;
}

.left-image {
  padding-top: 30px;
  padding-left: 50px;
}

.first-paragraph .left-image img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.first-paragraph {
  display: flex;
  padding-bottom: 25px;
}

.first-paragraph-right {
  margin-top: 15px;
}

.right-title {
  display: flex;
  margin-left: 100px;
  padding-top: 10px;
}

.second-title {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.third-title {
  font-family: sans-serif;
  margin-top: -20px;
  padding-top: 0;
  font-size: 20px;
  margin-left: 35px;
  text-align: center;
  color: #000000;
}

.button {
  margin-left: 300px;
  margin-top: 75px;
}

.button :hover {
  cursor: pointer;
}

.b2 {
  margin-left: 20px;
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.b1 {
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.second-section {
  align-items: center;
  justify-content: center;
}

.partners {
  font-size: 40px;
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 5px;
  padding: 15px 50px;
  text-align: center;
  margin-left: 610px;
  margin-top: 100px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.second-section .first-arrow {
  content: "\2193";
  margin-left: 695px;
  font-size: 60px;
  margin-top: -15px;
}

.second-section .down-arrows {
  display: flex;
  text-decoration: none;
  font-size: 40px;
  border-top: 3px solid black;
  margin-right: 25px;
}

.second-section .partners-sections {
  display: flex;
  border-top: 5px solid black;
}

.second-section .partners-sections :hover {
  cursor: pointer;
}

.second-section .partners-sections button {
  display: flex;
  font-size: 25px;
  margin-left: 25px;
}

.second-section .partners-sections .partner {
  margin-right: 45px;
  align-items: center;
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.third-section .left-reports {
  display: flex;
  height: 150px;
  margin-right: 150px;
}

.third-section .left-reports button {
  align-items: center;
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.third-section .left-reports :hover {
  cursor: pointer;
}

.third-section .qr-code {
  display: flex;
  width: 100px;
  margin-right: 45px;
}

.third-section .qr-code :hover {
  cursor: pointer;
}

.third-section .right-image {
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
}

.third-section .right-image img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.last-section {
  display: flex;
  margin-top: 200px;
}
.last-section button {
  background-color: #c002b6;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: flex;
  margin-left: 450px;
  padding: 25px 75px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.last-section :hover {
  cursor: pointer;
}

.icons {
  margin-top: 50px;
  margin-left: 550px;
  align-items: center;
}
.fa {
  padding: 15px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  height: 25px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px #3b5998;
}

.fa-twitter {
  background: #55acee;
  color: white;
  height: 25px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px #55acee;
}

.fa-instagram {
  background: #125688;
  color: white;
  height: 25px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px #125688;
}
.fa-android {
  background: #a4c639;
  color: white;
  height: 25px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px #a4c639;
}

footer {
  margin-top: 100px;
  text-align: center;
  padding-top: 50px;
  background-color: #c002b6;
  height: 125px;
}

.fa-phone {
  font-size: 50px;
  color: rgb(255, 255, 255);
  align-content: center;
}
